<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>北京青联推介交流会</title>
	<meta name="viewport" content="width=device-width,initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
	<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
	<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
	<%= csrf_meta_tags %>
</head>
<body>
	<div class="container">
		<header>
			<label class="textstyle1"><strong>北京青联房山行推介交流会</strong></label><br/>
			<label class="textstyle1"><strong>微信群聊</strong></label>
		</header>
		<div class="time">
			<label class="timebox">2015年5月29日 下午4:30</label>
		</div><br/>
		<div class="teammates">
			<div class="teambox">
				团市委书记、市青联荣誉主席常宇，房山区委书记刘伟，区委副书记、区长曾赞荣，区委副书记、政法委书记李江，区委常委、副区长赵军，副区长曹蕾等领导出席活动。区委办、区政府办、北京高端制造业基地管委会、中央休闲购物区管委会、良乡高教园区管委会、团区委、区经信委、区投促局、拱辰街道、西潞街道、长阳镇、窦店镇等相关单位主要负责同志加入了群聊。
			</div>
		</div>
		<div class="messagelist">
			<li class="imgmessage">
				<div class="faceimg">
					<%= image_tag('head2.jpg',:class => 'headbox')%>
				</div>
				<div class="content">
					<div class="namebox">
						<label class="name">青春房山</label>
					</div>
					<div class="imgcontext">
						<%= image_tag('img1.JPG',:class => 'messageimg')%>
					</div>
				</div>
			</li>
			<li class="audiomessage">
				<div class="audiofaceimg">
					<%= image_tag('head1.JPG',:class => 'headbox')%>
				</div>
				<div class="content">
					<div class="namebox">
						<label class="name">李江</label>
					</div>
					<div class="audiocontext">
						<audio class="audio" src="/audio/audio1.wav" preload="none" id="player1" display></audio>
						<%= image_tag('talk4.png',:class => 'audioimg',:id => 'audio1')%>
					</div>
				</div>
			</li>
			<li class="imgmessage">
				<div class="faceimg">
					<%= image_tag('head2.jpg',:class => 'headbox')%>
				</div>
				<div class="content">
					<div class="namebox">
						<label class="name">青春房山</label>
					</div>
					<div class="imgcontext">
						 <video  class="video" src="/video/video1.mp4" preload="none" controls="controls">   </video>
					</div>
				</div>
			</li>
			<li class="audiomessage">
				<div class="audiofaceimg">
					<%= image_tag('head3.JPG',:class => 'headbox')%>
				</div>
				<div class="content">
					<div class="namebox">
						<label class="name">曾赞荣</label>
					</div>
					<div class="audiocontext">
						<audio class="audio" src="/audio/audio2.wav" preload="none" id="player2" display></audio>
						<%= image_tag('talk4.png',:class => 'audioimg',:id => 'audio2')%>
					</div>
				</div>
			</li>
			<li class="myaudiomessage">
				<div class="myfaceimg">
					<%= image_tag('head4.JPG',:class => 'headbox')%>
				</div>
				<div class="mycontent">
					<div class="namebox">
						<label class="myname">毛大庆</label>
					</div>
					<div class="myaudiocontext">
						<audio class="audio" id= "player3" preload="none" src="/audio/audio3.wav" display></audio>
						<%= image_tag('talk1.png',:class => 'myaudioimg',:id => 'audio3')%>
					</div>
				</div>
			</li>
			<li class="audiomessage">
				<div class="audiofaceimg">
					<%= image_tag('head3.JPG',:class => 'headbox')%>
				</div>
				<div class="content">
					<div class="namebox">
						<label class="name">曾赞荣</label>
					</div>
					<div class="audiocontext">
						<audio class="audio" src="/audio/audio5.wav" preload="none" id="player5" display></audio>
						<%= image_tag('talk4.png',:class => 'audioimg',:id => 'audio5')%>
					</div>
				</div>
			</li>
			<li class="audiomessage">
				<div class="audiofaceimg">
					<%= image_tag('head3.JPG',:class => 'headbox')%>
				</div>
				<div class="content">
					<div class="namebox">
						<label class="name">曾赞荣</label>
					</div>
					<div class="audiocontext">
						<audio class="audio" src="/audio/audio6.wav" preload="none" id="player6" display></audio>
						<%= image_tag('talk4.png',:class => 'audioimg',:id => 'audio6')%>
					</div>
				</div>
			</li>
			<li class="myaudiomessage">
				<div class="myfaceimg">
					<%= image_tag('head4.JPG',:class => 'headbox')%>
				</div>
				<div class="mycontent">
					<div class="namebox">
						<label class="myname">毛大庆</label>
					</div>
					<div class="myaudiocontext">
						<audio class="audio" id= "player7" preload="none" src="/audio/audio7.wav" display></audio>
						<%= image_tag('talk1.png',:class => 'myaudioimg',:id => 'audio7')%>
					</div>
				</div>
			</li>
			<li class="myaudiomessage">
				<div class="myfaceimg">
					<%= image_tag('head4.JPG',:class => 'headbox')%>
				</div>
				<div class="mycontent">
					<div class="namebox">
						<label class="myname">毛大庆</label>
					</div>
					<div class="myaudiocontext">
						<audio class="audio" id= "player8" preload="none" src="/audio/audio8.wav" display></audio>
						<%= image_tag('talk1.png',:class => 'myaudioimg',:id => 'audio8')%>
					</div>
				</div>
			</li>
			<li class="myaudiomessage">
				<div class="myfaceimg">
					<%= image_tag('head5.JPG',:class => 'headbox')%>
				</div>
				<div class="mycontent">
					<div class="namebox">
						<label class="myname">黄孝斌</label>
					</div>
					<div class="myaudiocontext">
						<audio class="audio" id= "player9" preload="none" src="/audio/audio9.wav" display></audio>
						<%= image_tag('talk1.png',:class => 'myaudioimg',:id => 'audio9')%>
					</div>
				</div>
			</li>
			
			<li class="myaudiomessage">
				<div class="myfaceimg">
					<%= image_tag('head7.JPG',:class => 'headbox')%>
				</div>
				<div class="mycontent">
					<div class="namebox">
						<label class="myname">孔鹏</label>
					</div>
					<div class="myaudiocontext">
						<audio class="audio" id= "player10" preload="none" src="/audio/audio10.wav" display></audio>
						<%= image_tag('talk1.png',:class => 'myaudioimg',:id => 'audio10')%>
					</div>
				</div>
			</li>
			<li class="audiomessage">
				<div class="audiofaceimg">
					<%= image_tag('head6.JPG',:class => 'headbox')%>
				</div>
				<div class="content">
					<div class="namebox">
						<label class="name">常宇</label>
					</div>
					<div class="audiocontext">
						<audio class="audio" src="/audio/audio11.wav" preload="none" id="player11" display></audio>
						<%= image_tag('talk4.png',:class => 'audioimg',:id => 'audio11')%>
					</div>
				</div>
			</li>
			<li class="audiomessage">
				<div class="audiofaceimg">
					<%= image_tag('head8.JPG',:class => 'headbox')%>
				</div>
				<div class="content">
					<div class="namebox">
						<label class="name">刘伟</label>
					</div>
					<div class="audiocontext">
						<audio class="audio" src="/audio/audio12.wav" preload="none" id="player12" display></audio>
						<%= image_tag('talk4.png',:class => 'audioimg',:id => 'audio12')%>
					</div>
				</div>
			</li>
			<br>
			<br>
			<br>
		</div>
	</div>
</body>
</html>